* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.body {
  display: flex;
  flex-direction: column;
}
.one,
.header,
.footer {
  background-color: #1f2937;
}
button {
  padding: 0.5rem 0.75rem;
  width: 120px;
  border-radius: 5px;
  border: 0;
}
/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 8rem;
}
.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.header a {
  color: #e5e7eb;
}
.nav-links {
  display: flex;
  gap: 18px;
}

/* Hero */

.hero-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
}
.hero-container p {
  font-size: 18px;
}
.hero {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}
.one-container {
  display: flex;
  gap: 56px;
  color: white;
  padding: 5rem 8rem;
}
.hero-button {
  background-color: #3882f6;
  color: white;
}
.img-container {
  display: flex;
  width: 4rem;
  background-color: gray;
  align-items: center;
  justify-content: center;
  flex: 1;
}

/* Section 2 - Random Information */

.section-two-title {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  padding: 3rem 0;
}

.flex-img-box-container {
  display: flex;
  gap: 20px;
  padding: 0 8rem 5rem 8rem;
}
.img-box-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0rem 1rem;
}
.img-box {
  border: 4px solid #3882f6;
  border-radius: 16px;
  padding: 5rem 0rem;
  margin: 0 1rem;
}
.img-box-container p {
  text-align: center;
}

/* Section 3 - quote */

.three {
  background-color: #e5e7eb;
}
.quote {
  display: flex;
  flex-direction: column;
  width: 700px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.quote-text {
  font-size: 36px;
  font-style: light italic;
  color: #1f2937;
  padding-top: 5rem;
  font-weight: 100;
}
.quote p {
  margin-left: auto;
  padding-bottom: 5rem;
  font-size: 22px;
  font-weight: bold;
}

/* Section 4 */

.flex-call-to-action-container {
  display: flex;
}

.call-to-action-container {
  display: flex;
  padding: 3rem 10rem;
  background-color: #3882f6;
  margin: 4rem auto;
  border-radius: 5px;
  gap: 4rem;
  color: white;
}
.call-to-action-container > div > h4 {
  font-size: 1.3rem;
}
.call-to-action-container > div > p {
  color: lightgray;
}
.call-to-action-container > div > button {
  background-color: #3882f6;
  color: white;
  border: 2px solid white;
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  color: white;
  padding: 2rem;
}
