* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  display: flex;
  flex-direction: column;
}
.one,
.header,
.footer {
  background-color: #1f2937;
}
button {
  padding: 0.5rem 0.75rem;
  width: 120px;
  border-radius: 5px;
  border: 0;
}
/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 8rem;
}
.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.header a {
  color: #e5e7eb;
}
.nav-links {
  display: flex;
  gap: 18px;
}

/* Hero */

.hero-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
}
.hero-container p {
  font-size: 18px;
}
.hero {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}
.one-container {
  display: flex;
  gap: 56px;
  color: white;
  padding: 5rem 8rem;
}
.hero-button {
  background-color: #3882f6;
  color: white;
}
.img-container {
  display: flex;
  width: 4rem;
  background-color: gray;
  align-items: center;
  justify-content: center;
  flex: 1;
}
